//fonts

$font-size: 16px;
$font-color: #333B41;

$mont-bold: "Montserrat-Bold" , Arial, sans-serif;
$mont-med: "Montserrat-Medium" , Arial, sans-serif;
$mont: "Montserrat-Regular" , Arial, sans-serif;


//colors

$bg-color: #F5F5F5;
$button-color: #FFCD4D;
$yellow: #FFEE2E;


//z-index

$z-index-10minus: -10; 
$z-index-10: 10; 
$z-index-20: 20; 